<div class="text-center">
  <h1>プロフィール変更ページ</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :password, '変更確認用パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduction, '自己紹介' %>
        <%= f.text_area :introduction, class: 'form-control' %>
      </div>

      <%= f.submit '変更', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>