<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= current_user.name %></h3>
        </div>
        <div class="card-body">
          <img class="rounded img-fluid" src="<%= gravatar_url(current_user, { size: 500 }) %>" alt="">
        </div>
      </div>
      <div class="profile_border">
      <h2>自己紹介</h2>
        <p><%= current_user.introduction %></p>
        <p>投稿数：<span class="badge badge-primary"><%= @count_posts %></span></p>
        <p>いいね数：<span class="badge badge-warning"><%= @count_favposts %></span></p>
        <p>フォロー数：<span class="badge badge-success"><%= @count_followings %></span></p>
        <p>フォロワー数：<span class="badge badge-danger"><%= @count_followers %></span></p>
    </div>
    </aside>
　　<div class="col-sm-6">
　　<%= render 'posts/posts', posts: @posts %>
　　</div>
　</div>
<% end %>　