<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= current_user.name %></h3>
        </div>
        <div class="card-body">
          <img class="rounded img-fluid" src="<%= gravatar_url(current_user, { size: 500 }) %>" alt="">
        </div>
      </div>
      <h2>自己紹介</h2>
    <p><%= current_user.introduction %></p>
    <p>投稿数       :<%= @count_posts %></p>
    <p>いいね数     :<%= @count_favposts %></p>
    <p>フォロー数   :<%= @count_followings %></p>
    <p>フォロワー数 :<%= @count_followers %></p>
    </aside>
　　<div class="col-sm-6">
　　<%= render 'posts/posts', posts: @posts %>
　　</div>
　</div>
<% end %>　