<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= current_user.name %></h3>
        </div>
        <div class="card-body">
          <img class="rounded img-fluid" src="<%= gravatar_url(current_user, { size: 500 }) %>" alt="">
        </div>
      </div>
      <div class="profile_border">
      <h2>自己紹介</h2>
        <p><%= current_user.introduction %></p>
        <p>投稿数：<span class="badge badge-primary"><%= @count_posts %></span></p>
        <p>いいね数：<span class="badge badge-warning"><%= @count_favposts %></span></p>
        <p>フォロー数：<span class="badge badge-success"><%= @count_followings %></span></p>
        <p>フォロワー数：<span class="badge badge-danger"><%= @count_followers %></span></p>
      </div>
    </aside>
    <div class="col-sm-6">
      <h2>新規投稿</h2>
        <%= form_with(model: @post, local: true) do |f| %>
          <div class="form-group">
            <%= f.text_field :title, class: 'form-control', rows: 5, placeholder: "タイトル" %>
          </div>  
          <div class="form-group">
            <%= f.text_area :qmemo, class: 'form-control', rows: 5, placeholder: "QuesionMemo" %>
            <%= f.text_area :amemo, class: 'form-control', rows: 5, placeholder: "AnswerMemo" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address, class: 'form-control', rows: 5, placeholder: "URL" %>
          </div>  
          <div class="radio-inline">
            <%= f.radio_button :comprehension, :理解, checked: "checked" %>
            <%= f.label :理解, class: "comprehension" %>
          </div>  
          <div class="radio-inline">
            <%= f.radio_button :comprehension, :うーん %>
              <%= f.label :うーん, class: "comprehension" %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :comprehension, :さっぱり %>
              <%= f.label :さっぱり, class: "comprehension" %>
          </div>
            <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        <% end %>
    </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  <% else %>
    <div class="center jumbotron">
      <div class="text-center">
        <h1>QAM</h1>
          <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>    
  <% end %>